    <table>
    	<form method="get" action="/quizes/<%= quiz.id %>/answer">
	    	<tr><td><%= quiz.indice_tematico %> : <%= quiz.pregunta %></td></tr>
		    <tr>
		    	<td><input type="text" name="respuesta" placeholder="Responda aquí"/></td>
	    		<td><input type="submit" value="Enviar"/></td>
		    </tr>
    	</form>
    </table>
    </br>
    <p class='left'><a href="/quizes">Volver a lista de preguntas</a></p>
    </br></br>
    <p class='left'><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
    </br></br>

    <table class='tableBorder'>
    <caption><strong>Comentarios</strong></caption>
    <tbody class="tablaConOverflow" style='height: 160px;'>
    <% for(index in quiz.Comments)
    	{ %>
    	<tr class='tableBorder'>
     <% if (quiz.Comments[index].publicado)
    		{ %>
		    <td>-->&nbsp&nbsp</td>
    		<td style='width: 350px'> <%= quiz.Comments[index].texto %></td>
	    	 	<% if ( session.user )
	    			{
	    			if ( session.user.username === "admin" )
		    			{ %>
	    				    <td style='width: 50px'><form method="post" action="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/unpublish?_method=put">
	 		   				     <input type="submit" value="Despublicar"/>
	    					</form></td>
		    		 <% } %>
		    	<% } %>
    	 <% }
    	 else
    	 	{
    	 	if ( session.user )
    			{
    			if ( session.user.username === "admin" )
	    			{ %>
	    			<td>-->&nbsp&nbsp</td>
	    			<td style='width: 200px'><%= quiz.Comments[index].texto %></td>
	    			<td style='width: 50px'><form method="post" action="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish?_method=put">
	 		   				     <input type="submit" value="Publicar"/>
	    				</form></td>
	    		 <% } %>
	    	<% } %>
    	<%  } %>
    	</tr>	 	
    <%  } %>
    </tbody>
    </table>
    </ul>
