    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    	<p> Tema: <%= quiz.indice_tematico %></p></br>
    	<p> Pregunta: <%= quiz.pregunta %></p></br>
    	<input type="text" name="respuesta" placeholder="Responda aquí"/>
    	<input type="submit" value="Enviar"/>
    </form>
    </br>
    <p><a href="/quizes">Volver a lista de preguntas</a></p>
    </br>
    <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
    </br>
    <p><strong>Comentarios:</strong></p>
    <ul class="comment">
    <% for(index in quiz.Comments)
    	{
    	if (quiz.Comments[index].publicado)
    		{ %>
    		<li> <%= quiz.Comments[index].texto %>
	    	 	<% if ( session.user )
	    			{
	    			if ( session.user.username === "admin" )
		    			{ %>
	    				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/unpublish"><button>Despublicar</button></a>
		    		 <% } %>
		    	<% } %>
	    	</li>
    	 <% }
    	 else
    	 	{
    	 	if ( session.user )
    			{
    			if ( session.user.username === "admin" )
	    			{ %>
	    			<li> <%= quiz.Comments[index].texto %>
	    				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
	    			</li>
	    		 <% } %>
	    	<% } %>
    	<%  } %>	 	
    <%  } %>
    </ul>
