  <table>
  	<caption><h3>Estadísticas del Quiz</h3></caption>
	    <tr><td style='width: 300px;'>Número de preguntas</td><td style='text-align:right;width: 50px;'><%= quizStats.numQuizes %> </td></tr>
	    
	    <tr><td style='width: 300px;'>Número de comentarios totales</td><td style='text-align:right;width: 50px;'><%= quizStats.numComments %> </td></tr>

	    <tr><td style='width: 300px;'>Número de comentarios publicados</td><td style='text-align:right;width: 50px;'><%= quizStats.numCommentsPublish %> </td></tr>

	    <tr><td style='width: 300px;'>Número de comentarios No publicados</td><td style='text-align:right;width: 50px;'><%= quizStats.numCommentsUnpublish %> </td></tr>
	    
	    <tr><td style='width: 300px;'>Número medio de comentarios/pregunta</td><td style='text-align:right;width: 50px;'><%= quizStats.numCommentsXQuiz %> </td></tr>
	    
	    <tr><td style='width: 300px;'>Número de preguntas sin comentarios</td><td style='text-align:right;width: 50px;'><%= quizStats.numQuizesWithoutComments %> </td></tr>	    
		
		<tr><td style='width: 300px;'>Número de preguntas con comentarios</td><td style='text-align:right;width: 50px;'><%= quizStats.numQuizesWithComments %> </td></tr>	    
  </table>
